<div class="container-fulid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="ml-auto">
        <a class="navbar-brand mx-auto" id="navbrand" href="/"><i class="fa fa-snowflake-o" style="font-size:24px"></i> WeatherReport <i class="fa fa-snowflake-o" style="font-size:24px"></i></a>
      </div>
        <button class="navbar-toggler mx-5" id="toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span  class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" id="navlink">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/weather">Weather</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            
        </div>
      </nav>
   </div>